# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=movie_theater
DB_USERNAME=postgres
DB_PASSWORD=sa123

# JWT
APP_JWT_SECRET=your_base64_encoded_jwt_secret
APP_JWT_ACCESS_EXPIRATION=900000
APP_JWT_REFRESH_EXPIRATION=604800000

# Google Sign-In
GOOGLE_WEB_CLIENT_ID=437474053343-5ijcjhd1vdctgp7gspfo1tsip5jc596d.apps.googleusercontent.com

# Seed - Admin
APP_SEED_ADMIN_EMAIL=admin@example.com
APP_SEED_ADMIN_PASSWORD=123123
APP_SEED_ADMIN_FULL_NAME=Admin User

# Seed - Staff
APP_SEED_STAFF_EMAIL=staff@example.com
APP_SEED_STAFF_PASSWORD=123123
APP_SEED_STAFF_FULL_NAME=Staff User

# Seed - Customer
APP_SEED_CUSTOMER_EMAIL=customer@example.com
APP_SEED_CUSTOMER_PASSWORD=123123
APP_SEED_CUSTOMER_FULL_NAME=Customer User

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_STARTTLS_REQUIRED=true

MAIL_SMTP_CONNECTION_TIMEOUT=5000
MAIL_SMTP_TIMEOUT=5000
MAIL_SMTP_WRITE_TIMEOUT=5000

# Frontend Config
APP_FRONTEND_URL=

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=