DB_HOST=localhost
DB_PORT=5432
DB_NAME=movie_theater
DB_USERNAME=postgres
DB_PASSWORD=123456

APP_JWT_SECRET=ZHV5aG9jand0YW5kc3ByaW5nYm9vdDIwMjZfc2VjcmV0
APP_JWT_ACCESS_EXPIRATION=900000
APP_JWT_REFRESH_EXPIRATION=604800000
GOOGLE_WEB_CLIENT_ID=437474053343-5ijcjhd1vdctgp7gspfo1tsip5jc596d.apps.googleusercontent.com

APP_SEED_ADMIN_EMAIL=admin@example.com
APP_SEED_ADMIN_PASSWORD=123123
APP_SEED_ADMIN_FULL_NAME=Ho Minh Duy

APP_SEED_STAFF_EMAIL=staff@example.com
APP_SEED_STAFF_PASSWORD=123123
APP_SEED_STAFF_FULL_NAME=Staff User

APP_SEED_CUSTOMER_EMAIL=customer@example.com
APP_SEED_CUSTOMER_PASSWORD=123123
APP_SEED_CUSTOMER_FULL_NAME=Customer User


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nhom3fptct@gmail.com
MAIL_PASSWORD=yvdpenmdppyqmben

MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_STARTTLS_REQUIRED=true

MAIL_SMTP_CONNECTION_TIMEOUT=5000
MAIL_SMTP_TIMEOUT=5000
MAIL_SMTP_WRITE_TIMEOUT=5000


# Frontend Config
APP_FRONTEND_URL=http://localhost:5173

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=dmywhl4za
CLOUDINARY_API_KEY=382889347726429
CLOUDINARY_API_SECRET=cvHbL7x79iUsby5Gavj-zFt4MBo


VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TpnEtRv8luFawyBwtCiGq6vNDoeP9wz5YHohYoq0iqkmma384PSYDBpyAtlTUdiuEIYXQ4diWYI3wPS89uHJker00CZc9LWuf
API_KEY=BAT_KY_CHUOI_BAO_MAT_NAO_ANH_CHI_THICH

API_KEY=default-secret-api-key

STRIPE_SECRET_KEY=sk_test_51TpnEtRv8luFawyBv9XY1F5FxEwlA46HNyOkFVvTghZpbXWD6vU5r2LuSzFYiKYvu3jl8gUc7pjoWj6wZlXTPGFX00GEGIgdTi
STRIPE_WEBHOOK_SECRET=whsec_f67b56aca5a1cbbbd64e04c3fc51a927df89404c8f6617559ab549824f8aa189
