# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=movie_theater
DB_USERNAME=postgres
DB_PASSWORD=123456

# JWT
APP_JWT_SECRET=ZHV5aG9jand0YW5kc3ByaW5nYm9vdDIwMjZfc2VjcmV0
APP_JWT_ACCESS_EXPIRATION=900000
APP_JWT_REFRESH_EXPIRATION=604800000

# Google Sign-In
GOOGLE_WEB_CLIENT_ID=your_google_client_id_here

# Seed - Admin
APP_SEED_ADMIN_EMAIL=admin@example.com
APP_SEED_ADMIN_PASSWORD=123123
APP_SEED_ADMIN_FULL_NAME=Admin User

# Seed - Staff
APP_SEED_STAFF_EMAIL=staff@example.com
APP_SEED_STAFF_PASSWORD=123123
APP_SEED_STAFF_FULL_NAME=Staff User

# Seed - Customer
APP_SEED_CUSTOMER_EMAIL=customer@example.com
APP_SEED_CUSTOMER_PASSWORD=123123
APP_SEED_CUSTOMER_FULL_NAME=Customer User

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password

MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_SMTP_STARTTLS_REQUIRED=true
MAIL_SMTP_CONNECTION_TIMEOUT=5000
MAIL_SMTP_TIMEOUT=5000
MAIL_SMTP_WRITE_TIMEOUT=5000

# Frontend Config
APP_FRONTEND_URL=http://localhost:5173

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Security API Key for frontend requests
API_KEY=your_custom_secret_api_key_here

# Stripe Keys
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
