# Movie Theater FE environment variables

# Leave empty in local development to use Vite proxy /api -> localhost:8080
VITE_API_URL=

# Optional app name
VITE_APP_NAME=NASA FILM

# Google Sign-In Web Client ID
VITE_GOOGLE_CLIENT_ID=437474053343-5ijcjhd1vdctgp7gspfo1tsip5jc596d.apps.googleusercontent.com