# API Configuration
VITE_API_URL=

# Environment
VITE_ENV=

# Feature flags
VITE_ENABLE_GOOGLE_LOGIN=
VITE_ENABLE_APPLE_LOGIN=

# Google Sign-In Web Client ID
VITE_GOOGLE_CLIENT_ID=437474053343-5ijcjhd1vdctgp7gspfo1tsip5jc596d.apps.googleusercontent.com

